body {
  background-color: #e1e6e3
}

h1{
  text-align: center; font-size: 100px; color: #207178;
}
p {
  font-size: 50px
}
p{
  text-align: center;font-size: 50px;color: #000000
}
#cachorrinho02{
  width: 16%
  }
#cachorrinho04{
  width:25%
}
#cachorrinho05{
  width:30%
}
#cachorrinho08{
  width: 21%
}
  #cachorrinho09{
    width:22%
}
#cachorrinho10{
  width:22%
}
#cachorrinho12{
  width:24%
}
#cachorrinho14{
  width:20%
}
#cachorrinho15{
  width:18%
}
#cachorrinho16{
  width: 27%
}
#cachorrinho17{
  width:27%
}
