body {
  background-color: #fffcff
}

h1{
  text-align: center; font-size: 100px; color: #207178;
}
p {
  font-size: 50px
}
p{
  text-align: center;font-size: 50px;color: #000000
}
#cachorrinho02{
  width: 16%;
  border: 5px solid #000000;
border-radius: 10px;
  }
#cachorrinho04{
  width:25%;
  border: 5px solid #000000;
  border-radius: 10px;
}
#cachorrinho05{
  width:30%;
  border: 5px solid #000000;
border-radius: 10px;
}
#cachorrinho08{
  width: 21%;
  border: 5px solid #000000;
border-radius: 10px;
}
  #cachorrinho09{
    width:22%;
    border: 5px solid #000000;
  border-radius: 10px;
}
#cachorrinho10{
  width:22%;
  border: 5px solid #000000;
border-radius: 10px;
}
#cachorrinho12{
  width:24%;
  border: 5px solid #000000;
border-radius: 10px;
}
#cachorrinho14{
  width:20%;
  border: 5px solid #000000;
border-radius: 10px;
}
#cachorrinho15{
  width:18%;
  border: 5px solid #000000;
border-radius: 10px;
}
#cachorrinho16{
  width: 27%;
  border: 5px solid #000000;
border-radius: 10px;
}
#cachorrinho17{
  width:27%;
  border: 5px solid #000000;
border-radius: 10px;
}

.dogs{
  color: brown;
  text-align: center;
  font-size: 400%
}

.redes{
  color: green;
  text-align: center;
  font-size: 200%
}

.redes02{
  color: purple;
  text-align: center;
  font-size: 200%
}

.redes03{
  color: #304878;
  text-align: center;
  font-size: 200%
}
